@if (ViewBag.AllowPasswordReset)
{
    <div id="hcSetFirstPassword" class="dnnFormMessage">
        @Localization.GetString("AccountCreatedAutomatically")<br />
        <label>@Html.CheckBox("chksetpassword") @Localization.GetString("SetMyPassword")</label>
        <br />
        <div id="hcPasswordMessage"></div>
        <div id="hcFirstPasswordForm" style="display: none;">
            <div class="dnnFormItem">
                <label class="dnnLabel">@Localization.GetString("CreatePassword"):</label>
                @Html.Password("password")

                <input id="setpasswordbutton" type="submit" value="@Localization.GetString("SetPassword")" />

                <input type="hidden" id="email" value="@ViewBag.Email" />
                <input type="hidden" id="orderbvin" value="@ViewBag.OrderBvin" />
            </div>
        </div>
    </div>
}