@model Hotcakes.Modules.Core.Models.SingleProductViewModel

<div class="hc-record">
    <div class="hc-recimage">
        <a href="@Model.ProductLink">
            <img class="hc-autosize" src="@Model.ImageUrls.MediumlUrl" alt="@Model.ImageUrls.MediumlAltText" />
        </a>
    </div>
    <h2 class="hc-recname">
        <a href="@Model.ProductLink">@Model.Item.ProductName</a>
    </h2>
    <div class="hc-recprice">
        <span 
            @if(Model.UserPrice.ListPriceGreaterThanCurrentPrice) { <text>class="hc-sale"</text> }
              >
            @Html.Raw(Model.UserPrice.DisplayPrice(true,false))
        </span>
    </div>
    <div class="hc-reccontrols">
        <a href="@Model.ProductLink" class="dnnPrimaryAction">
            @Localization.GetString("View")</a>
    </div>
</div>
