@model Hotcakes.Modules.Core.Models.SingleProductViewModel
<div class="panel panel-default hc-product-detail-wrapper">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <div class="col-xs-4">
            <a href="@Model.ProductLink">
                <img class="img-responsive img-rounded" src="@Model.ImageUrls.SmallUrl" alt="@Model.ImageUrls.SmallAltText" />
            </a>
        </div>
        <div class="col-xs-8">
            <h2>
                <a href="@Model.ProductLink">@Model.Item.ProductName</a>
            </h2>
            <h6 class="small">@Model.Item.Sku</h6>
            <div class="clearfix">
                @Html.Raw(Model.Item.LongDescription)
            </div>
            <div class="pull-right text-right clearfix">
                <p class="lead">
                    @Html.Raw(Model.UserPrice.DisplayPrice(true, false))
                </p>
                <div class="clearfix">
                    @if (Model.Item.HasOptions() || Model.Item.IsGiftCard)
                    {
                        <a href="@Model.ProductLink" class="btn btn-primary">
                            <em class="glyphicon glyphicon-eye-open"></em>@Localization.GetString("View")
                        </a>
                    }
                    else
                    {
                        <a href="@Url.RouteHccUrl(HccRoute.Cart, new {quickaddsku = Model.Item.Sku})" class="btn btn-primary">
                            <em class="glyphicon glyphicon-shopping-cart"></em>@Localization.GetString("AddToCart")
                        </a>
                    }
                </div>
            </div>
        </div>
        </div>
    <div class="panel-footer"></div>
</div>