@model Hotcakes.Modules.Core.Models.SingleProductViewModel
@{
    var userPrice = Model.UserPrice.DisplayPrice(true, false);
    var isSale = userPrice.Contains("strike");
    var hasOptions = (Model.Item.HasOptions());
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2><a href="@Model.ProductLink">@Model.Item.ProductName</a></h2>
    </div>
    <div class="panel-body">
        <div class="hc-product-card-img">
            <a href="@Model.ProductLink">
                <img class="img-responsive img-rounded" src="@Model.ImageUrls.SmallUrl" alt="@Model.ImageUrls.SmallAltText" />
            </a>
        </div>
    </div>
    <div class="panel-footer text-center">
        @Html.Raw(userPrice)<br/>
        @if (hasOptions || Model.Item.IsGiftCard || Model.Item.IsBundle || Model.Item.IsUserSuppliedPrice)
        {
            <a class="add-to-cart-product" href="@Model.ProductLink">
                <span><em class="glyphicon glyphicon-eye-open"></em>@Localization.GetString("View")</span>
            </a>
        }
        else
        {
            <a href="@Url.RouteHccUrl(HccRoute.Cart)?AddSku=@Model.Item.Sku&AddSkuQty=1" class="add-to-cart-product">
                <span><em class="glyphicon glyphicon-shopping-cart"></em>@Localization.GetString("AddToCart")</span>
            </a>
        }
    </div>
</div>