
@helper RenderSelectedFacet(string facetName, string clickHandler){

    <b data-bind="@String.Format("if: Selected{0}.length > 0", facetName)">@Localization.GetString(facetName)</b>
    <ul class="list-unstyled hc-facet-list" data-bind="@String.Format("foreach: Selected{0}", facetName)">
        <li>
            <a href="#" class="btn btn-outline-danger btn-sm" data-bind="@String.Format("click: $root.{0}", clickHandler)"><i class="fas fa-minus-circle"></i>@Localization.GetString("Remove")</a>
            <span class="hc-facet-label-selected" data-bind="text: Name"></span>
        </li>
    </ul>
}

@helper RenderFacet(string facetName, string clickHandler){
    
    <h5 data-bind="@String.Format("if: {0}.length > 0", facetName)">@Localization.GetString(facetName)</h5>
    <ul class="list-unstyled hc-facets mb-3" data-bind="@String.Format("foreach: {0}", facetName)">
        <li>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" data-bind="checked: Checked, @String.Format("click: $root.{0}", clickHandler)" />
            </div>
            <!-- ko if: !Checked -->
            <a href="#" class="ml-4 hc-facet-label" data-bind="text: Name, @String.Format("click: $root.{0}", clickHandler)"></a> (<span data-bind="text: Count"></span>)
            <!-- /ko -->
            <!-- ko if: Checked -->
            <span class="ml-4 hc-facet-label hc-facet-label-checked" data-bind="text: Name"></span>
            <!-- /ko -->
        </li>
    </ul>
}
<div class="row">
    <div class="hc-drilldown-filter">
        <!-- ko with: model -->
        <div class="hc-drilldown-selected" data-bind="visible: SelectedManufacturers.length > 0 || SelectedVendors.length > 0 || SelectedTypes.length > 0 || SelectedProperties.length > 0">
            <h4>@Localization.GetString("YouSelected")</h4>

            @RenderSelectedFacet("Manufacturers", "chooseManFacet")
            @RenderSelectedFacet("Vendors", "chooseVenFacet")
            @RenderSelectedFacet("Types", "chooseTypeFacet")

            <div data-bind="foreach: SelectedProperties">
                <b data-bind="text: DisplayName"></b>
                <ul class="list-unstyled" data-bind="foreach: PropertyValues">
                    <li>
                        <a href="#" class="btn btn-outline-danger btn-sm" data-bind="click: $root.choosePropFacet.bind($data, $parent)"><i class="fas fa-minus-circle"></i>@Localization.GetString("Remove")</a>
                        <span class="hc-facet-label-selected" data-bind="text: Name"></span>
                    </li>
                </ul>
            </div>
        </div>

        <h5 data-bind="if: SubCategories.length > 0">@Localization.GetString("Categories")</h5>
        <ul class="list-unstyled hc-facets ml-2 mb-3" data-bind="foreach: SubCategories">
            <li>
                <a href="#" data-bind="text: Title, attr: { href: Url }"></a>
            </li>
        </ul>

        @RenderFacet("Manufacturers", "chooseManFacet")
        @RenderFacet("Vendors", "chooseVenFacet")
        @RenderFacet("Types", "chooseTypeFacet")

        <div data-bind="foreach: Properties">
            <h5 data-bind="text: DisplayName"></h5>
            <ul class="list-unstyled hc-facets mb-3" data-bind="foreach: FacetItems">
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" data-bind="checked: Checked, click: $root.choosePropFacet.bind($data, $parent)" />
                    </div>
                    <!-- ko if: !Checked -->
                    <a href="#" class="ml-4 hc-facet-label" data-bind="text: Name, click: $root.choosePropFacet.bind($data, $parent)"></a> (<span data-bind="text: Count"></span>)
                    <!-- /ko -->
                    <!-- ko if: Checked -->
                    <span class="ml-4 hc-facet-label hc-facet-label-checked" data-bind="text: Name"></span>
                    <!-- /ko -->
                </li>
            </ul>
        </div>
        <!-- /ko -->

        <h5>@Localization.GetString("Price")</h5>
        <div class="hc-price-slider dnnForm">
            <div class="hc-slider-controls">
                <div class="text-left hc-slider-left">
                    <span>@Localization.GetString("MinPrice")</span>
                    <input type="text" class="form-control form-control-md" id="hcSliderMinPrice" data-bind="value: minPrice" />
                </div>
                <div class="text-center hc-slider-center">
                    <a id="hcApplyPriceFilter" class="btn btn-primary btn-sm" href="#" data-bind="click: applyPrice">@Localization.GetString("Apply")</a>
                </div>
                <div class="text-right hc-slider-right">
                    <span>@Localization.GetString("MaxPrice")</span>
                    <input type="text" class="form-control form-control-md" id="hcSliderMaxPrice" data-bind="value: maxPrice" />
                </div>
            </div>
        </div>
    </div>
</div>