@model Hotcakes.Modules.Core.Models.ProductReviewsViewModel
<div class="row-fluid hc-product-reviews">
    <div class="col-md-12">
        <h2>@Localization.GetString("Reviews") (@Model.Reviews.Count): @Model.ProductView.Item.ProductName</h2>
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>@Localization.GetString("AverageRating")</h4>
                <div class="hc-rating-wrapper center-block">
                    <div class="hc-rating hc-stars@(ViewBag.Avg)"></div>
                </div>
            </div>
        </div>
        <hr />
        <div class="hc-review-list clearfix">
            @foreach (var review in Model.Reviews)
            {
                @Html.Partial("_SingleReview", review)
                <hr />
            }
        </div>
        <div class="clearfix">
            <a href="@Model.ProductView.ProductLink" class="btn btn-primary"><em class="glyphicon glyphicon-chevron-left"></em>@Localization.GetString("ReturnToProduct")</a>
        </div>
    </div>
</div>
<div class="clearfix"></div>