﻿@model Hotcakes.Modules.Core.Models.MiniCartViewModel

<div id="hcMiniCart" class="hc-minicart">
    <div class="hc-iconbox">
        <a href="@Url.RouteHccUrl(HccRoute.Cart)">
            @Model.TotalQuantity
        </a>
    </div>
    @if (Model.TotalQuantity > 0)
    {
        <div class="hc-tooltip dnnFormPopup" id="hcMiniCartTooltip">
            <h2>@Localization.GetString("ShoppingCart")</h2>

            <table class="dnnGrid" width="100%">
                <tr class="hcAjaxLoader">
                    <td><p>&nbsp;</p></td>
                </tr>
            </table>

            <ul class="dnnActions">
                <li>
                    <a class="dnnPrimaryAction" href="@Url.RouteHccUrl(HccRoute.Checkout)">@Localization.GetString("Checkout")</a>
                </li>
                <li>
                    <a class="dnnSecondaryAction" href="@Url.RouteHccUrl(HccRoute.Cart)">@Localization.GetString("GoToCart")</a>
                </li>
            </ul>
        </div>
    }
</div>