@model Hotcakes.Modules.Core.Models.CategoryPageViewModel
@using Hotcakes.Modules.Core.AppCode
@Html.RegisterViewScript("imagesloaded.pkgd.min.js")
@Html.RegisterViewScript("masonry.min.js")
@Html.Partial("_Admin")
@Html.Action("CategoryTrail", "BreadCrumb", new { cat = Model.LocalCategory })
<!-- Hotcakes Commerce: Category > Grid -->
<div class="container">
    <div class="row hc-category">
        @if (Model.LocalCategory.ShowTitle)
        {
            <div class="col-12">
                <h1>@Model.LocalCategory.Name</h1>
            </div>
        }
        @Html.Action("Index", "ContentColumn", new { id = Model.LocalCategory.PreContentColumnId })
        @Html.Partial("_Header", Model)
        @Html.Partial("_Pager", Model.PagerData, new ViewDataDictionary { { "sortByList", Model.SortSelectList } })
        <div class="container">
            <div class="row hc-product-cards">
                <div class="col-6 col-md-4 hc-product-card-sizer invisible"></div>
                @foreach (var item in Model.Products)
                {
                    <div class="col-6 col-md-4 hc-product-card">
                        @Html.Partial("_RenderSingleProduct", item)
                    </div>
                }
            </div>
        </div>
        @Html.Partial("_Pager", Model.PagerData)
        @Html.Action("Index", "ContentColumn", new { id = Model.LocalCategory.PostContentColumnId })
        @Html.Hidden("categorybvin", @Model.LocalCategory.Bvin)
    </div>
</div>