@model Hotcakes.Modules.Core.Models.CategoryPageViewModel
@if (ViewBag.ShowBanner)
{
    <div class="hc-banner row-fluid">
        <div class="span8 leftSide">
            <img class="hc-autosize" src="@ViewBag.BannerUrl" alt="@Model.LocalCategory.Name" />
        </div>
        <div class="span4 rightSide">
            <div class="hc-banner-info">
                <img class="hc-autosize" src="@ViewBag.ImageUrl" alt="@Model.LocalCategory.Name" />
                @if (((string)ViewBag.DisplayHtml).Length > 0)
                {        
                    <div class="hc-description">
                        <h3>@Model.LocalCategory.Name</h3>
                        @Html.Raw(ViewBag.DisplayHtml)
                    </div>
                }
            </div>
        </div>
    </div>
}