@model Hotcakes.Modules.Core.Models.EstimateShippingViewModel
@using Hotcakes.Commerce.Shipping;

<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="hc-estimate-shipping">
                <div class="form-group">
                    <label class="control-label">@Localization.GetString("Country"):</label>
                    @Html.DropDownListFor(y => y.CountryId, new SelectList(ViewBag.Countries, "Bvin", "DisplayName"), new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label">@Localization.GetString("Region"):</label>
                    <select id="RegionId" name="RegionId" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">@Localization.GetString("PostalCode"):</label>
                    @Html.TextBoxFor(y => y.PostalCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(y => y.PostalCode)
                </div>
                <div class="form-group">
                    <input type="submit" id="hcGetRates" class="btn btn-primary" value="@Localization.GetString("GetRates")" />
                </div>
                <input type="hidden" name="TempRegionId" id="TempRegionId" value="@Model.RegionId" />
                @Html.ValidationSummary()
                @TempData["message"]

                <ul class="hc-rates" id="hcShippingRatesList">
                    @foreach (ShippingRateDisplay rate in Model.Rates)
                    {
                        <li>@Html.Raw(@rate.RateAndNameForDisplay)</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>