@if (ViewBag.AllowPasswordReset)
{
    <div class="row">
        <div id="hcSetFirstPassword" class="col-12">
            <div class="alert alert-success">
                @Localization.GetString("AccountCreatedAutomatically")
            </div>
            <div class="form-check">
                @Html.CheckBox("chksetpassword", new { @id="chkSetPassword", @class="form-check-input" })
                <label for="chkSetPassword" class="form-check-input">@Localization.GetString("SetMyPassword")</label>
            </div>
            <div class="col-12">
                <div id="hcPasswordMessage"></div>
            </div>
            <div id="hcFirstPasswordForm" class="col-12" style="display: none;">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">@Localization.GetString("CreatePassword"):</label>
                    <div class="col-sm-6 offset-sm-0">
                        @Html.Password("password", "", new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-6 offset-sm-0">
                        <input id="setpasswordbutton" type="submit" value="@Localization.GetString("SetPassword")" class="btn btn-default" />
                        <input type="hidden" id="email" value="@ViewBag.Email" />
                        <input type="hidden" id="orderbvin" value="@ViewBag.OrderBvin" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}