@if (ViewBag.AllowPasswordReset)
{
    <div id="hcSetFirstPassword" class="col-xs-12">
        <div class="alert alert-success">
            @Localization.GetString("AccountCreatedAutomatically")
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>@Html.CheckBox("chksetpassword") @Localization.GetString("SetMyPassword")</label>
            </div>
        </div>
        <div class="col-xs-12">
            <div id="hcPasswordMessage"></div>
        </div>
        <div id="hcFirstPasswordForm" class="col-xs-12" style="display: none;">
            <div class="form-group">
                <label class="col-sm-4 control-label">@Localization.GetString("CreatePassword"):</label>
                <div class="col-sm-offset-0 col-sm-6">
                    @Html.Password("password", "", new {@class = "form-control"})
                </div>
                <input id="setpasswordbutton" type="submit" value="@Localization.GetString("SetPassword")" class="btn btn-default" />
                <input type="hidden" id="email" value="@ViewBag.Email" />
                <input type="hidden" id="orderbvin" value="@ViewBag.OrderBvin" />
            </div>
        </div>
    </div>
}