@model Hotcakes.Modules.Core.Models.CheckoutViewModel
@using Hotcakes.Modules.Core.Models;

<div class="container">
    <div class="row hc-checkout">

        <h2>@Localization.GetString("UpdatePaymentInfo")</h2>
        <div class="col-12 col-md-8 offset-md-2">
            <div class="alert alert-danger">@Localization.GetString("PaymentFailed")</div>
        </div>

        <div class="col-12 col-md-8 offset-md-2">@Html.Raw((string)TempData["messages"])</div>

        <div class="container">
            <div class="form-horizontal">
                @using (Html.BeginHccRouteForm(HccRoute.Checkout, new { action = "paymenterror" }))
                {
                    <div class="row">
                        <div class="col-12 col-md-8 offset-md-2 hc-billing-section">
                            <h3>@Localization.GetString("BillingAddress")</h3>
                            <div id="hcBillingWrapper">
                                @Html.Partial("_CheckoutAddress", new CheckoutAddressViewModel()
                                {
                                    Address = Model.CurrentOrder.BillingAddress,
                                    Prefix = "billing",
                                    TabIndex = 450,
                                    ShowPhone = false,
                                    Countries = Model.Countries,
                                    Violations = Model.Violations
                                })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-8 offset-md-2 hc-payment-section">
                            <h3>@Localization.GetString("PaymentMethod")</h3>
                            @Html.Partial("_DisplayPaymentMethods", Model)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-8 offset-md-2 text-center mt-4 mb-5">
                            <a class="btn btn-secondary" href="@Url.RouteHccUrl(HccRoute.Checkout, new { action = "cancel" })">@Localization.GetString("CancelOrder")</a>
                            <input type="submit" id="hcTakeOrder" class="btn btn-primary" value="@Localization.GetString("PlaceOrder")" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>