@model Hotcakes.Commerce.Orders.Order

<div class="container">
    <hr />
    <div class="row hc-order-details">
        <div class="col-sm-4">
            <h5>@Localization.GetString("PublicNotes")</h5>
            @if (Model.Notes.Where(n => n.IsPublic).Count() > 0)
            {
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        @foreach (var note in Model.Notes)
                            {
                                if (note.IsPublic)
                                {
                            <tr>
                                <td><label>@note.AuditDate.ToString("M/d/yyyy h:mm tt")</label><br />
                                    @note.Note</td>
                            </tr>
                                }
                            }
                    </table>
                </div>
            }
            else{
                <div class="alert alert-info">@Localization.GetString("NoNotes")</div>
            }
        </div>
        <div class="col-sm-4">
            <h5>@Localization.GetString("Packages")</h5>
            @if (Model.Packages.Count > 0)
            {
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>@Localization.GetString("ShippedDate")</th>
                                <th>@Localization.GetString("TrackingNumber")</th>
                            </tr>
                        </thead>
                        @foreach (var package in Model.Packages)
                            {
                            <tr>
                                <td>@if (!package.HasShipped) { @Localization.GetString("NotShipped")} else { @DateHelper.ConvertUtcToStoreTime(HccApp, package.ShipDateUtc) }</td>
                                <td>@package.TrackingNumber</td>
                            </tr>
                            }
                    </table>
                </div>
            }
            else{
                <div class="alert alert-info">@Localization.GetString("NoPackages")</div>
            }
        </div>
        <div class="col-sm-4">
            <h5>@Localization.GetString("PaymentInformation")</h5>
            @Html.Partial("_OrderPaymentSummary", (Hotcakes.Commerce.Orders.OrderPaymentSummary)ViewBag.OrderPaymentSummary)
        </div>
    </div>
</div>